.side__menu {
    background-color: #34495e;
}

li {
    margin-bottom: 20px;
    text-transform: capitalize;
    list-style: none;
    font-size: 17px;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

i {
    color: white;
}

.active {
    border-radius:100px;
    background-color: #28A3E6;
    padding: 5px;
    color: white;
}

.country__flag{
    width: 20px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    width: max-content;
    background-color: white;
    width:max-content;
}